<div id="<%= dom_id status_change %>">
  <p>
    <strong>Status:</strong>
    <%= status_change.status %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= status_change.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= status_change.user_id %>
  </p>

</div>
